:host ::ng-deep .p-tabmenu-nav {
  display: flex;
  justify-content: center;
}

@media (max-width: 630px) {
  :host ::ng-deep .p-tabmenu-nav {
    justify-content: unset;
  }
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  border-color: var(--verde);
  color: var(--verde)
}