<div>
    <p-button label="Disservizio" icon="pi pi-exclamation-triangle" (onClick)="onClickOpenDisserviziModal()" />
</div>

<p-dialog header="Disservizi" [modal]="true" [(visible)]="disserviziModalVisible" [style]="{ width: '25rem' }">
    @if(disservizi.length > 0) {
        <span class="p-text-secondary block mb-5">Disservizi già presenti:</span>
    } @else {
        <span class="p-text-secondary block mb-5">Nessun disservizio presente</span>
    }
    <p-divider />
    <div class="flex align-items-center gap-3 mb-3">
        <p-button label="Aggiungi" icon="pi pi-plus" (onClick)="onClickOpenNewDisservizioModal()" />
    </div>
</p-dialog>

<p-dialog header="Segnala disservizio" [modal]="true" [(visible)]="newDisservizioModalVisible" [style]="{ width: '25rem' }" (onHide)="hidingNewDisservizioModal()">
    <textarea 
        rows="5"
        cols="30" 
        pInputTextarea 
        [(ngModel)]="message">
    </textarea>
    <div class="checkbox">
        <p-checkbox 
            [(ngModel)]="activeDisservizio" 
            [binary]="true" 
            inputId="binary" />
        <label for="binary">In Corso</label>
    </div>
    <div>
        <p-button label="Aggiungi" icon="pi pi-plus" />
    </div>
</p-dialog>