<div class="drop-container">
  <p-dropdown
    [options]="tabItems"
    [(ngModel)]="selectedDay"
    optionLabel="label"
    placeholder="Seleziona giorno"
    (onChange)="itemChanged($event)"
  />
</div>

<div class="content">
  <ng-container *ngIf="selectedDay">
    <app-disservizio [id]="selectedDay.option" />
  </ng-container>
  <p-table
    [value]="percorso.checkpoint"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="in-tr">ID</th>
        <th class="in-tr">Arrivo Previsto</th>
        <th class="in-tr">Arrivo Effettivo</th>
        <th class="in-tr">Partenza Prevista</th>
        <th class="in-tr">Partenza Effettiva</th>
        <th class="in-tr">Transito Previsto</th>
        <th class="in-tr">Transito Effettivo</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cp let-rowIndex="rowIndex">
      <tr>
        <td class="in-tr">{{ cp.id }}</td>
        @if (cp.orarioArrivoPrevisto) {
          <td class="in-tr">{{ cp.orarioArrivoPrevisto | date: "HH:mm" }}</td>
          <td class="in-tr">
            <p-inputMask
              pInputNumber
              mask="99:99"
              [(ngModel)]="cp.orarioArrivoEffettivo"
              placeholder="00:00"
            />
          </td>
        } @else {
          <td class="in-tr">--:--</td>
          <td class="in-tr">--:--</td>
        }
        @if (cp.orarioPartenzaPrevisto) {
          <td class="in-tr">{{ cp.orarioPartenzaPrevisto | date: "HH:mm" }}</td>
          <td class="in-tr">
            <p-inputMask
              pInputNumber
              mask="99:99"
              [(ngModel)]="cp.orarioPartenzaEffettivo"
              placeholder="00:00"
            />
          </td>
        } @else {
          <td class="in-tr">--:--</td>
          <td class="in-tr">--:--</td>
        }
        @if (cp.orarioPassaggioPrevisto) {
          <td class="in-tr">{{ cp.orarioPassaggioPrevisto | date: "HH:mm" }}</td>
          <td class="in-tr">
            <p-inputMask
              pInputNumber
              mask="99:99"
              [(ngModel)]="cp.orarioPassaggioEffettivo"
              placeholder="00:00"
            />
          </td>
        } @else {
          <td class="in-tr">--:--</td>
          <td class="in-tr">--:--</td>
        }
        <td class="in-tr"><p-button label="Salva" (click)="saveChanges(rowIndex)" /></td>
      </tr>
    </ng-template>
  </p-table>
</div>
