.section {
    width: fit-content;
    margin: 2em auto;
    display: flex;
    flex-flow: column nowrap;
    border: 1px black solid;
    border-radius: 10px;
    padding: 32px;
    text-align: center;
}

:host ::ng-deep .p-button {
    background-color: var(--verde);
    border-color: var(--verde);
}

:host ::ng-deep .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--verde), 0 1px 2px 0 black;
}