:host ::ng-deep .p-tag {
    font-size: 16px;
    padding: 0.5em;
    background-color: var(--verde);
}

.last-detection {
    display: flex;
    flex-flow: row wrap;
}

.detection {
    flex: 1;
    margin: 10px;
}

.tag-container {
    flex: 2;
     align-content: center;
}

@media (600px < width <= 900px) {
    .detection {
        flex: 2;
        margin: 5px;
    }
    .tag-container {
        flex: 2;
    }
}

@media (400px < width <= 600px) {
    .detection {
        flex: 1;
        margin: 5px;
    }
    .tag-container {
        flex: 1;
        text-align: center;
    }
}

@media (width <= 400px) {
    .detection {
        flex: 2;
        margin: 5px;
    }
    .tag-container {
        flex: 1;
        text-align: center;
    }
}