:host ::ng-deep .p-tag {
    font-size: 16px;
    padding: 0.5em;
    background-color: var(--verde);
}

.last-detection {
    display: flex;
    flex-flow: row wrap;
}

.detection {
    flex: 1;
    margin: 10px;
}

.tag-container {
    flex: 2;
     align-content: center;
}

.map-section {
    display: flex;
    flex-direction: row;
}

.timeline{
    flex: 1;
    max-height: inherit;
    overflow-y: auto;
    max-height: 400px;
}

.map {
    flex: 2;
    max-height: 400px;
}

:host ::ng-deep .p-timeline-event-opposite {
    font-size: 12px
}

:host ::ng-deep .p-timeline-event-marker {
    border-color: var(--verde);
}

@media (600px < width <= 900px) {
    .detection {
        flex: 2;
        margin: 5px;
    }
    .tag-container {
        flex: 2;
    }
    .timeline {
        flex: 1;
    }
    .map {
        flex: 1;
    }
}

@media (400px < width <= 600px) {
    .detection {
        flex: 1;
        margin: 5px;
    }
    .tag-container {
        flex: 1;
        text-align: center;
    }
    .map-section {
        flex-direction: column-reverse;
    }
    .timeline {
        max-height: fit-content;
        margin: 10px auto;
    }
}

@media (width <= 400px) {
    .detection {
        flex: 2;
        margin: 5px;
    }
    .tag-container {
        flex: 1;
        text-align: center;
    }
    .map-section {
        flex-direction: column-reverse;
    }
    .timeline {
        max-height: fit-content;
        margin: 10px auto;
    }
}